.header {
  padding-bottom: var(--section-spacing);
  &-main {
    @include flex($justify: space-between, $align: center, $gap: 0 38px);
    position: relative;
  }
  &-content {
    width: 100%;
  }
  &-heading {
    margin: 18px 0 25px;
  }
  &-desc {
    margin-bottom: 50px;
  }
  &-actions {
    @include flex($align: center);
    gap: 0 36px;
  }
  @include respond($isMax: false, $breakpoint: "lg") {
    &-image {
      transform: scale(1.2);
    }
  }
  @include respond($isMax: false, $breakpoint: "md") {
    &-content {
      max-width: 496px;
    }
  }
  @include respond($breakpoint: "md") {
    &-main {
      @include flex($direction: column);
    }
  }
  @include respond($breakpoint: "sm") {
    &-heading {
      font-size: 35px;
    }
    &-actions {
      @include flex($direction: column, $gap: 30px);
    }
  }
}
.watch {
  &-video {
    @include flex($align: center);
    gap: 0 36px;
    color: var(--gray-dark);
    font-weight: 500;
  }
  &-icon {
    width: 59px;
    height: 59px;
    border-radius: 100rem;
    background-color: white;
    box-shadow: 0px 17px 25px rgba(140, 141, 146, 0.12);
    @include flex($justify: center, $align: center);
  }
}
