.header {
  padding-bottom: var(--section-spacing);
  &-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 38px;
    position: relative;
  }
  &-content {
    width: 100%;
  }
  &-heading {
    margin: 18px 0 25px;
  }
  &-desc {
    margin-bottom: 50px;
  }
  &-actions {
    display: flex;
    align-items: center;
    gap: 0 36px;
  }
  @media screen and (min-width: 1280px) {
    &-image {
      transform: scale(1.2);
    }
  }
  @media screen and (min-width: 1024px) {
    &-content {
      max-width: 496px;
    }
  }
  @media screen and (max-width: 1023px) {
    &-main {
      flex-direction: column;
    }
  }
  @media screen and (max-width: 767px) {
    &-heading {
      font-size: 35px;
    }
    &-actions {
      flex-direction: column;
      gap: 30px;
    }
  }
}
.watch {
  &-video {
    display: flex;
    align-items: center;
    gap: 0 36px;
    color: var(--gray-dark);
    font-weight: 500;
  }
  &-icon {
    width: 59px;
    height: 59px;
    border-radius: 100rem;
    background-color: white;
    box-shadow: 0px 17px 25px rgba(140, 141, 146, 0.12);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
