block mixins
    include ./views/abstract/mixins
doctype html
html(lang="en")
    include ./views/base/head.pug
body 
.wrapper 
include ./views/layout/header
include ./views/page-component/Home/service
include ./views/page-component/Home/who
include ./views/page-component/Home/mission
include ./views/page-component/Home/review
include ./views/page-component/Home/blog
include ./views/page-component/Home/newsletter
 