/*custom element,overall*/
:root {
  --body-font-family: 'Karla', sans-serif;
  --white-color: #ffffff;
  --primary-color: #38b083;
  --section-bg-color: #f5f5f5;
  --border-color: #dee2e6;
  --dark-color: #000000;
  --grey-color: #fcfeff;
  --title-color: #565758;
  --p-color: #717275;
  --footer-bg-color: #07262e;
  --tab-border: #dee2e6;
  --input-focus: #20cd8d;

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 600;

  --h1-font-size: 3.5rem;
  --h2-font-size: 2.625rem;
  --h3-font-size: 2.2rem;
  --h4-font-size: 1.8rem;
  --h5-font-size: 1.375rem;

  --p-font-size: 1.2rem;

  --btn-border: 0.5rem;

  --phone: 30em;
  --tab-port: 48em;
  --tab-land: 62em;
  --desktop: 80em;

  --gutter-x: 6rem;
}
html {
  font-family: var(--body-font-family);
  font-size: 90%;
}
@media screen and (max-width: 48em) {
  html {
    font-size: 75%;
  }
}
@media screen and (max-width: 30em) {
  html {
    font-size: 65%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
  line-height: normal;
  color: var(--dark-color);
}
a {
  color: var(--p-color);
  text-decoration: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}
p {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.col-full {
  flex: 0 0 auto;
  width: 100%;
}
.col-lg-6 {
  flex: 0 0 auto;
  width: 50%;
}
.col-lg-4 {
  flex: 0 0 auto;

  width: 33.33333333%;
}
.px-2 {
  padding-right: 0.4rem;
  padding-left: 0.4rem;
}
.text-center {
  text-align: center;
}
.mx-auto {
  margin: 0 auto;
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: var(--gutter-x);
  padding-right: var(--gutter-x);
}
@media screen and (max-width: 1111px) {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
.btn {
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  font-size: var(--p-font-size);
  padding: 0.7rem 1.5rem;
  outline: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--primary-color);
  color: var(--white-color);
}
.btn:hover {
  background-color: var(--dark-color);
}
.toggle-btn {
  display: none;
}
.toggle-btn > div {
  width: 25px;
  height: 2px;
  background-color: var(--dark-color);
  user-select: none;
  margin: 5px 0;
  display: block;
  position: relative;
  transition: all 0.3s ease;
}
.toggle-btn__line-1 {
  transform: rotate(-45deg);
  top: 6px;
}
.toggle-btn__line-2 {
  opacity: 0;
  transition: none;
}
.toggle-btn__line-3 {
  transform: rotate(45deg);
  top: -8px;
}

/*end custom element,overall*/

/*navbar */

.navbar {
  border-bottom: 1px solid var(--p-color);

  padding: 1rem 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}
.navbar-brand {
  font-size: 2.5rem;
  color: var(--white-color);
}
.navbar-brand:hover {
  color: var(--primary-color);
}
.sticky .navbar {
  background-color: var(--white-color);
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}
.sticky .navbar-list__item > a {
  color: var(--dark-color);
}
.active a {
  color: var(--primary-color) !important;
}
.sticky .navbar-brand {
  color: var(--dark-color);
}
.navbar-list {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}
.navbar-list__item {
  margin: 0rem 1rem;
}
.navbar-list__item > a {
  color: var(--white-color);
  user-select: none;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.navbar-list__item > a:hover {
  color: var(--primary-color);
}
@media screen and (max-width: 1111px) {
}

@media screen and (max-width: 1111px) {
  .toggle-btn {
    display: block;
    margin-left: 0.5rem;
  }
  .navbar-list {
    display: none;
  }
  .show .navbar-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: flex-start;

    z-index: 10;
    top: 5rem;
    left: 0;
    width: 100vw;
    background-color: var(--white-color);
  }
  .navbar-brand {
    font-size: 1.6rem;
  }

  .show .navbar-list__item {
    margin-left: 1rem;
    padding: 1rem 0rem;
  }
  .show .navbar-list__item > a {
    font-size: 1.3rem;
    color: var(--dark-color);
  }
  .navbar {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .navbar-brand {
    color: var(--dark-color);
  }
  .navbar-btn {
    display: flex;
    align-items: center;
  }
  .navbar {
    background-color: var(--white-color);
  }
}
/*end navbar */

/*hero section*/
.header {
  background-image: url('./images/slide/microsoft-edge-FAaz8lkinzs-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
  display: flex;
  flex-direction: column;
}
.section-hero {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero {
  width: 100%;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero__text {
  flex: 0 0 auto;
  width: 60%;
  cursor: pointer;
}
.hero__text > h1 {
  color: var(--white-color);
}
.play-icon {
  background: var(--primary-color);
  color: var(--white-color);
  border-radius: 50%;
  font-size: 1.5rem;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  display: inline-block;
  text-align: center;
  margin-right: 0.5rem;
}

.play-icon::before {
  display: block;
  padding-top: 0.2rem;
  padding-left: 0.2rem;
}
.hero__btn {
  background-color: var(--white-color);
  border-radius: var(--btn-border);
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0.4rem 1rem;
  margin-top: 2rem;
  width: fit-content;
  align-items: center;
}
.hero__btn:hover {
  color: var(--primary-color);
}
@media screen and (max-width: 1111px) {
  .hero {
    justify-content: space-between;
  }
  .header {
    height: 100vh;
  }
  .hero__text {
    width: 90%;
  }
  .hero__text > h1 {
    font-size: 2.7rem;
  }
  .hero__btn {
    padding: 0.2rem 0.8rem;
  }
}
@media screen and (max-width: 30em) {
  .hero__text {
    width: 95%;
  }
}

/*end hero section*/
/*section about */
.section-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

.about-heading {
  align-items: flex-end;
}
.tab {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 0;
  margin-bottom: 0;
  border-bottom: 1px solid var(--tab-border);
  margin-left: auto;
  flex: 0 0 auto;
  width: 66%;
}
.tab-link {
  padding: 0rem 1rem;
  background: transparent;
  border-radius: 0;
  border: 0;
  font-size: 1.125rem;
  border-bottom: 1px solid transparent;
  color: var(--border-color);
  position: relative;
  top: 1px;
  cursor: pointer;
}
.tab-link.active,
.tab-link:hover {
  font-weight: var(--font-weight-bold);
  color: var(--dark-color);
  border-bottom-color: var(--primary-color);
}
.tab-content {
  align-items: center;
  padding-top: 2rem;
}
.tab-content__img {
  padding-right: 0.5rem;
}
.tab-content__des {
  margin: auto;
  width: 40%;
}
.tab-content__des > p {
  padding-top: 0.5rem;
  line-height: 1.6;
}
.accordion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  padding: 0.7rem 0rem;
  cursor: pointer;
  margin: 0.2rem 0;
}
.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.panel > p {
  font-size: 0.9em;
}
@media screen and (max-width: 1111px) {
  .about-heading {
    flex-direction: column;
    align-items: flex-start;
  }
  .about-heading > div {
    width: 100%;
  }
  .tab {
    width: 100%;
    margin-top: 1rem;
  }
  .tab-content__des {
    width: 100%;
  }
  .tab-content__img {
    width: 100%;
    padding: 0;
  }
}
/*end section about*/
/*start section services*/
.service-container {
  padding: 3rem 0;
}
.section-service {
  background-color: var(--section-bg-color);
}

.service-img {
  flex: 0 0 auto;
  width: 33.333333333333%;
  min-height: 250px;
}
.service-img img {
  display: block;
  margin: auto;
  height: 100%;

  padding: 1.2rem;
}
.service-box {
  flex: 0 0 auto;
  width: 33.333333333333%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 4rem;
  position: relative;
  text-align: center;
  background-color: var(--white-color);
}
.service-box p {
  margin-top: 0.5rem;
}
.service-box button {
  margin-top: 1.5rem;
}
.bg-green {
  background-color: #198754;
}
.bg-blue {
  background-color: rgb(13, 110, 253);
}
.bg-yellow {
  background-color: rgb(255, 193, 7);
}
@media screen and (max-width: 1111px) {
  .service-box {
    width: 100%;
  }

  .service-img {
    width: 100%;
  }
  .service-img img {
    height: 250px;
  }
}

/*section project*/
.project-box {
  position: relative;
  overflow: hidden;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  user-select: none;
}

.project-box .project-img {
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}
.project-box:hover .project-img {
  transform: scale(1.05);
}
.project-info {
  background: var(--section-bg-color);
  border-radius: 0.3rem;
  border-bottom: 5px solid var(--border-color);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 1.2rem;

  width: 85%;
  margin: auto;
  margin-bottom: 1.2rem;
}
.project-tag {
  border-radius: 100px;
  background-color: var(--white-color);
  color: var(--p-color);
  font-size: 0.8rem;
  font-weight: var(--font-weight-light);
  padding: 0.2rem 0.3rem;
  display: inline-block;
  vertical-align: top;
  margin-right: 0.5rem;
  margin-bottom: 0.8rem;
}
.project-title {
  display: block;
  margin-bottom: 0;
}
.project-text {
  padding: 1.4rem 2rem;
}
.project-container {
  padding: 3rem 0;
}
@media screen and (max-width: 1111px) {
  .project-col {
    width: 100%;
  }
  .project-img {
    width: 100%;
    height: 450px;
  }
}
/* end section project*/
/*section pricing*/
.section-pricing {
  background-image: url('./images/maria-stewart-p4tj0g-_aMM-unsplash.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.section-pricing h2 {
  color: var(--white-color);
}
.pricing-col {
  margin: 2rem 0rem;
}
.section-pricing .container {
  position: relative;

  z-index: 2;
}

.pricing-plan {
  margin: 0rem 1rem;
  background-color: var(--white-color);
  padding: 5rem 2.5rem 2.5rem 2.5rem;
  position: relative;
}

.pricing-header {
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 2.1rem;
  display: flex;
  flex-wrap: wrap;

  align-items: center;
}

.pricing-icon {
  font-size: 2.5rem;
}

.pricing-name {
  margin-left: 3.2rem;
}

.pricing-price {
  margin-left: auto;
}

.pricing-recommend {
  background: var(--primary-color);
  color: var(--white-color);
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.8rem 1.6rem;
  position: absolute;
  top: 0;
  right: 0;
}

.pricing-body {
  margin-top: 3.5rem;
  margin-right: 3rem;
  margin-left: 5rem;
  margin-bottom: 2rem;
}
.pricing-body h5 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.pricing-list {
  padding-left: 1rem;
}

.pricing-list-item {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
  line-height: normal;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}
/* end section pricing*/
@media screen and (max-width: 1111px) {
  .pricing-col {
    width: 100%;
  }
}

/*section form*/
.form-input {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--dark-color);
  background-color: var(--white-color);
  border: 1px solid #bbbec1;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-input:focus {
  color: var(--dark-color);
  border-color: var(--input-focus);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(32, 205, 141, 0.25);
}
.form-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 1rem 0.8rem;
}
.form {
  width: 70%;
}
.form-select {
  display: block;
  width: 100%;
  padding: 0.7rem 2.25rem 0.7rem 0.75rem;

  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.form-box .btn {
  width: 100%;
  margin: 1rem 0;
}
.form-col-1 {
  flex: 0 0 auto;
  width: 50%;
}
.form-col-2 {
  flex: 0 0 auto;
  width: 50%;
}
.form-col-3 {
  flex: 0 0 auto;
  width: 100%;
}
@media screen and (max-width: 1000px) {
  .form {
    width: 85%;
  }
}
@media screen and (max-width: 600px) {
  .form-col-1,
  .form-col-2 {
    width: 100%;
  }

  .form {
    width: 100%;
  }
}
/*end section form*/
/*footer*/
/*end footer*/
.footer {
  background: var(--footer-bg-color);
}
.footer-form {
  flex: 0 0 auto;
  width: 60%;

  padding: 0rem 1rem;
}
.footer-form h4 {
  color: var(--white-color);
  margin-bottom: 1rem;
}
.footer-form form {
  display: flex;
  flex-wrap: wrap;
  padding-right: 1rem;
  gap: 1rem;
  padding-left: right;
}
.footer-form form .form-input {
  flex: 0 0 auto;
  width: 40%;
  background-color: transparent;
  border: none;
  color: var(--white-color);
  border-radius: 0;
  border-bottom: 2px solid var(--white-color);
}
.footer-form form .form-input:focus {
  border-bottom: 2px solid var(--white-color);

  box-shadow: none;
}

.footer-form .btn {
  margin-right: 0;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: var(--white-color);
  color: var(--dark-color);
  border-radius: 2px;
}
.footer-form .btn:hover {
  background-color: var(--dark-color);
  color: var(--white-color);
}
.footer-menu {
  margin-right: auto;
  flex: 0 0 auto;
  width: 20%;
}

.footer-menu-item {
  display: block;
  list-style: none;
}

.footer-menu-link,
.footer-link {
  display: inline-block;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
  margin-top: 5px;
  margin-bottom: 5px;
}
.footer-menu h4 {
  color: white;
}

.footer-menu-link:hover,
.footer-link:hover {
  color: var(--white-color);
  text-decoration: underline;
}
.footer-menu p:not(:last-child) {
  color: var(--white-color);
}
.footer-menu p {
  margin-top: 0.5rem;
}
@media screen and (max-width: 1111px) {
  .footer-form {
    width: 100%;
    margin-top: 2rem;
    padding: 0;
  }
  .footer-form form .form-input {
    width: 60%;
  }
  .footer-menu {
    width: 100%;
    margin-top: 2rem;
  }
}
