section.newsletter 
    .container.newsletter-container 
        .newsletter-main 
            .newsletter-content 
                h2.global-heading.newsletter-heading Sign up to Our Newsletter
                p.global-text.newsletter-desc You need to get positive results when you spend hard earned revenue and time.
            .newsletter-form 
                .newsletter-field 
                    input(type="email",placeholder="Email...").newsletter-input
                button.button.button--primary Subcribe 
