@mixin flex(
  $justify: flex-start,
  $align: stretch,
  $direction: row,
  $wrap: nowrap,
  $gap: 0
) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  @if $direction != "row" {
    flex-direction: $direction;
  }
  @if $wrap != "nowrap" {
    flex-wrap: $wrap;
  }
  @if $gap != 0 {
    gap: $gap;
  }
}

@mixin scrollSnap {
  display: grid;
  justify-content: flex-start;
  grid-auto-columns: 300px;
  grid-auto-flow: column;
  grid-gap: 1.5rem;
  overflow: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-snap-stop: always;
  scroll-padding: 20px;
  padding: 20px;
  margin-left: -20px;
  grid-template-columns: unset;
}
