.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  background-color: transparent;
  border-radius: 100rem;
  padding: 13px 32px;
  white-space: nowrap;
  cursor: pointer;
  &--primary {
    color: white;
    line-height: 1.5;
    background: var(--bg-gradient);
  }
  &--secondary {
    color: var(--primary-color);
    border: 2px solid var(--gray-light);
  }
  @media screen and (max-width: 767px) {
    & {
      padding: 10px 20px;
      font-size: 14px;
    }
  }
}
