.newsletter {
  &-container {
    padding: 77px 20px 116px;
    background-color: var(--gray-lighter);
    border-radius: 67px;

    @include flex($justify: center, $align: center);
  }
  &-main {
    @include flex($justify: space-between, $align: center);
    max-width: 796px;
  }
  &-content {
    width: 100%;
    max-width: 404px;
  }
  &-heading {
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 25px;
    color: var(--gray-dark);
  }
  &-desc {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #787e86;
    opacity: 0.8;
    max-width: 338px;
  }
  &-form {
    @include flex($justify: space-between);
    background: #ffffff;
    border-radius: 26.5px;
    width: 100%;
    max-width: 373px;
  }
  &-field {
    flex: 1;
  }
  &-input {
    padding: 15px 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
    color: var(--gray-dark);
    outline: none;
    border: 0;
    background-color: transparent;
    width: 100%;
  }
  @include respond($breakpoint: "sm") {
    &-heading {
      font-size: 30px;
      line-height: 1.5;
    }
    &-container {
      padding-top: 35px;
      padding-bottom: 35px;
      border-radius: 20px;
    }
  }
  @include respond($breakpoint: "sm") {
    &-main {
      @include flex($direction: column, $gap: 35px);
    }
    &-content {
      text-align: center;
    }
    &-form {
      max-width: 100%;
    }
  }
}
