.review-content 
    span.global-caption Testmonials
    h2.global-heading.global-heading--big Client’s Fedback
    p.global-text Why I say okl chap that is. sprffing aff his rut car blimey valmor gooxo blaka krcus up bobby shed a-50 William cock Richard. Bloke fanny around cheseci
    .review-number 
        .review-check
            img(srcset="./images/icon-check.png 2x")
        span.review-count 450+
        span Client's Feedback
    a.button.button--primary(href="#!") Get In Touch