-var contentSection = {classSection:'mission',name:'OUR MISSION &amp',title:'GOALRealize Your Business Goals For Profit.',img:'./images/img-mission.png',imgFirst :false}
+sectionFlexLayout(contentSection)