- var reviewCardItem = {img: "./images/review-user1.png 2x",name: "Mark Park",job: "CEO of Fiverr",desc:"Cura bitur susci pit nequeut lacus interd sit amet dictum nunc eleifend. Mauris pulvinar odio at nunc labortis. ", rating:4.5}
section.review 
    .container
        .review-container 
            include ../../components/review/reviews
            include ../../components/review/content