-var service = {icon:"./images/icon-search.svg", title:"Search Engine", desc:"Twit are excet  Frond, rnatie boy grub it's tell gone to pot MI Mrs nut butts horse play blow "}
.service-list
      +serviceItem(service)
      +serviceItem(service)
      +serviceItem(service)