.blog-header.heading-center
    h2.global-heading.global-heading--big.service-heading Our Regular Updated Blog Posts
    p.global-text.service-desc tempus, lectus risus In' perdiel tellus, sed faucibus ipsum ipsurn nun neque.